//цвета по палитре
$black: #000000;
$super-dark:#141517;
$dark: #2c2e3f;
$dark-light: #48494d;
$accented: #fe7865;
$accented-active: #f17d4b;
$dark-07: rgba(44, 46, 63, 0.7);
$dark-03: rgba(44, 46, 63, 0.3);
$more-dark-01: rgba(41, 54, 66, 0.1);
$grey-light: #d7d9df;
$light: #fbf8f8;
$white: #ffffff;
$blue: rgb(125, 180, 220);
$shadow-05: rgba(20, 21, 23, 0.5);
$shadow-06: rgba(20, 21, 23, 0.6);
$shadow-07: rgba(20, 21, 23, 0.7);
$white-07: rgba(255, 255, 255, 0.7);


// цвета по назначению
$text-color: $dark-07;
$title-color: $dark;
$text-inversion-light: $white;
$text-accented: $accented;
$text-tab-button: $dark-03;
$hover-link: $accented;
$stroke-super-dark: $super-dark;
$button: $accented;
$hover-button: $accented-active;
$active-link: $dark-07;
$fill-background: $blue;
$deco-background: $accented;
$deko-background-grey:$dark-03;
$background-card: $white;
$place-item-shadow: $shadow-06;
$place-item-deco-border: $white-07;
$tab-border: $dark-03;
$price-link-color: $black;
$price-title: $dark-07;
$form-shadow:$more-dark-01;
$title-contact: $super-dark;
$footer-title: $super-dark;
$footer-text: $shadow-05;
$footer-link: $accented;
$modal-background: $light;
$menu-item-background: $light;
$menu-background: $white;
$form-mobile-background: $light;
$form-input-background: $white;
$modal-text:$dark-light;
$footer-ico: $grey-light;
$footer-ico-dark:$super-dark;
$icon-mobile-menu: $white;
