.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $text-inversion-light;
  background-color: $button;
  border: none;
  cursor: pointer;
  //outline: 1px solid olive;

  @media (max-width: $tablet-max-width) {
    height: 50px;
    width: 250px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-max-width) {
    width: 288px;
  }
}

.button:hover {
  background-color: $hover-button;
}

.button--top-section {
  width: 340px;
  padding: 0 40px;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    width: 250px;
  }

  @media (max-width: $mobile-max-width) {
    width: 288px;
  }
}

.button--tab {
  padding: 0 40px;
  letter-spacing: 2.5px;
}

.button--submit-contact {
  padding: 0 40px;
}
