.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $text-inversion-light;
  background-color: $button;
  border: none;
  cursor: pointer;
  //outline: 1px solid olive;
}

.button:hover {
  background-color: $hover-button;
}

.button--top-section {
  width: 340px;
  padding: 0 40px;
  justify-content: space-between;
}

.button--tab {
  padding: 0 40px;
}
