.country-section {
  margin-bottom: 233px;
}

.country-section__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.country-section__tab-body {
  margin-top: 65px;
}
