.deco-line {
  height: 3px;
  width: 175px;
  background-color: $deco-background;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.deco-line--owerview {
  height: 4px;
  width: 229px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.deco-line--review {
  height: 1px;
  width: 68px;

  @media (max-width: $tablet-max-width) {
    margin: 0 auto;
    display: block;
  }
}

.deco-line--price {
  height: 1px;
  width: 100%;
  background-color: $deko-background-grey;

  @media (max-width: $tablet-max-width) {
    margin: 0 auto;
    width: 248px;
    display: block;
  }
}
