.owerview-section {
  margin-bottom: 25px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 95px;
  }
}

.owerview-section__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    padding: 0 76px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 15px;
  }
}

.owerview-section__head {

  // margin-left: 7px;

  @media (max-width: $tablet-max-width) {
    margin-left: 0;
    text-align: center;
  }
}

.owerview-section__title {
  margin: 0;

  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $title-color;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.owerview-section__title br {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}


.owerview-section__text {
  margin-top: 30px;
  margin-bottom: 55px;

  @media (max-width: $tablet-max-width) {
    margin-top: 0;
    line-height: 28px;
    letter-spacing: -0.466667px;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
  }
}

.owerview-section__text br {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
