.page {
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // min-height: 100vh;
}

// .page--modal-open {
//   // overflow: hidden;
// }

.page__word-background {
  max-width: 1444px;
  margin: 0 auto;
  // padding: 0 15px;
  background-repeat: no-repeat;
  background-position-y: 120px;
  background-image: url("../../img/europe-bg.svg");

  @media (max-width: $tablet-max-width) {
    // max-width: 100%;
    max-width: auto;
    margin: 0;
    padding: 0;
    background-image: none;
  }
}
