.place-list {
  // width: 100%;
  margin: 0;
  padding: 0;
  // margin-left: -60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    // margin-right: -40px;
  }

  @media (max-width: $mobile-max-width) {
    flex-wrap: none;
    flex-direction: column;
  }
}

.place-list__item {
  // width: 350px;
  width: calc(33% - 37px);
  min-height: 430px;
  // margin-right: 61px;
  margin-bottom: 100px;

  @media (max-width: $tablet-max-width) {
    width: calc(50% - 20px);
    margin-right: 40px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    // min-height: 425px;
    // height: 100%;
    // height: 100%;
  }
}

.place-list__item:nth-child(3n) {
  margin-left: 61px;
  margin-right: 0;

  @media (max-width: $tablet-max-width) {
    margin-left: 0;
    margin-right: 40px;
  }
}

.place-list__item:nth-child(2n) {
  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.place-list__item:last-child {
  @media (min-width: $desktop-size) {
    margin-left: 61px;
    margin-right: 0;
  }

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.place-list__item:nth-child(3n+1) {
  @media (min-width: $desktop-size) {
    margin-right: 61px;
  }
}
