.price-list {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  // margin-left: -30px;

  @media (max-width: $tablet-max-width) {
    padding: 0 56px;
    // margin-left: -50px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    padding: 0;
  }
}

.price-list__item {
  box-sizing: border-box;
  max-width: 370px;
  width: calc(50% - 15px);
  margin-right: 30px;
  border: 1px solid $deko-background-grey;
  border-radius: 6px;

  @media (max-width: $tablet-max-width) {
    // min-width: 288px;
    max-width: initial;
    width: 100%;
    min-height: 629px;
    margin-right: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0;
    margin-bottom: 30px;
  }
}

.price-list__item:nth-child(2n) {
  margin-right: 0;
}
