.price-section {
  margin-bottom: 140px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 110px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}


.price-section__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    box-sizing: border-box;
    // max-width: 100%;
    max-width: auto;
    flex-direction: column;
  }
}

.price-section__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //margin-top: 117px;
  max-width: 305px;
  padding-top: 20px;
  padding-left: 15px;

  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px;
    // width: 100%;
    text-align: center;
  }
}

.price-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $title-color;

  @media (max-width: $tablet-max-width) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.price-section__text {
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 27px;

  @media (max-width: $tablet-max-width) {
    margin-top: 0;
    padding: 0 17px;
    margin-bottom: 35px;
    line-height: 27px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.price-section__contact-text {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 47px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $title-contact;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 18px;
  }
}

.price-section__contact-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 32px;
  color: $price-link-color;

  @media (max-width: $tablet-max-width) {
    display: block;
    font-size: 18px;
    color: $text-accented;
    text-decoration: underline;
  }
}

.price-section__contact-ico {
  margin-right: 15px;
  fill: none;
  stroke: $accented;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
