.tab-list {
  display: flex;
  //overflow: scroll;
  min-width: 100px;
  // margin: 0;
  // padding: 0;
  border-bottom: 1px solid $tab-border;
}

.tab-list__item {
  margin-right: 99px;
}

.tab-list__item:last-child {
  margin-right: 0;
}

