.top-section {
  height: 860px;
  margin-bottom: 200px;
  background-image: url("../../img/bg/top-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $fill-background;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg/top-background@2x.jpg");
  }

  @media (max-width: $tablet-max-width) {
    height: 344px;
    margin-bottom: 80px;
    background-image: url("../../img/bg/top-background-pad@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg/top-background-pad@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    height: auto;
    // background-position: top;
    // background-size: 100% 235px;
    background-color: transparent;
    // background-image: url("../../img/bg/top-background-mob@1x.jpg");
    background-image: none;

    // @media (min-resolution: 2dppx) {
    //   background-image: url("../../img/bg/top-background-mob2x.jpg");
    // }
  }
}

.top-section__wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    padding: 0;
    display: block;
  }

  @media (max-width: $mobile-max-width) {
    max-width: 100%;
    padding: 0;
  }
}

.top-section__data-wrapper {
  margin-top: 187px;
  margin-right: 58px;
  width: 412px;

  @media (max-width: $tablet-max-width) {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    padding-top: 60px;
    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 0;
  }
}

.top-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.11px;
  color: $text-inversion-light;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: initial;
  }

  @media (max-width: $mobile-max-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px;

    // margin-bottom: 102px;
    padding: 0 45px;
    font-size: 24px;
    line-height: 36px;
    background-image: url("../../img/bg/top-background-mob@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $fill-background;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg/top-background-mob2x.jpg");
    }
  }
}

.top-section__text {
  color: $text-inversion-light;
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $tablet-max-width) {
    padding: 0 185px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 27px;
    letter-spacing: -0.466667px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 15px;
    margin-bottom: 20px;
    color: $title-color;
  }
}

.top-section__link {
  color: $text-inversion-light;

  @media (max-width: $tablet-max-width) {
    margin: 0 auto;
  }
}
